{% extends 'base/base.html' %}

{% load static %}

{% block title %}About Me{% endblock %}

{% block content %}
<div class="about-wrapper">
    <div class="about-container">
        <h1>About Me</h1>
        <p>Hello! I'm AJ Sorbello, a passionate developer specializing in full-stack web development with a love for creating innovative solutions. I also enjoy combining technology with my interest in culinary arts, which led to the development of this Recipe App.</p>
        <p>With a background in frontend technologies like React and Django for the backend, I've built numerous projects that showcase my technical expertise and creativity. Whether it's designing user-friendly interfaces or building efficient backend systems, I am always up for a challenge.</p>
        
        <h2>My Journey with Python</h2>
        <p>I started my journey with Python several years ago, focusing on web development and API integration. Python's versatility, especially with frameworks like Django, has enabled me to build dynamic, data-driven web applications, like this Recipe App, that enhance user experience and simplify everyday tasks.</p>
        
        <h2>Important Links</h2>
        <ul class="important-links">
            <li><a href="https://ajsorbello.github.io/AJfolio/" target="_blank">Portfolio</a></li>
            <li><a href="mailto:aj.sorbello@gmail.com">Contact Me</a></li>
            <li><a href="https://github.com/ajsorbello" target="_blank">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/ajsorbello" target="_blank">LinkedIn</a></li>
            <!-- Add any other relevant links here -->
        </ul>
        
        <h2>Thank You for Visiting!</h2>
        <p>Feel free to reach out if you'd like to collaborate or discuss web development and tech solutions.</p>
    </div>
</div>
{% endblock %}
