{% extends 'base/base.html' %}

{% load static %}

{% block title %}Welcome to My Recipe App{% endblock %}

{% block page_title %}Welcome to My Recipe App{% endblock %}

{% block content %}
<div class="welcome-container">
  <main>
    <section>
      <p>Discover and share amazing recipes from around the world!</p>
      {% if user.is_authenticated %}
        <div class="center-button">
          <a href="{% url 'recipe:recipe_list' %}" class="small-button">View Recipes</a>
        </div>
      {% else %}
        <p>Please <a href="{% url 'login' %}">log in</a> to view recipes.</p>
      {% endif %}
    </section>
  </main>
</div>
{% endblock %}