{% extends 'base/base.html' %}

{% load static %}

{% block title %}All Recipes{% endblock %}

{% block page_title %}All Recipes{% endblock %}

{% block content %}
<div class="recipes-list">
  <div class="container mt-5">
    <div class="card-search">
      <h1>Search for Recipes</h1>
      <hr>
      <form action="" method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="center-button">
              <button type="submit" class="small-button">Search</button>
          </div>
      </form>
    </div>

    <div class="card-body">
      {% if error_message %}
        <div class="alert alert-danger mt-3">{{ error_message }}</div>
      {% endif %}
      {% if recipe_df %}
        <h2>Search Results</h2>
        {{ recipe_df|safe }}
        <br>
        {% if chart %}
          <img src="data:image/png;base64,{{ chart|safe }}">
        {% endif %}
      {% else %}
        <h3>No data</h3>
      {% endif %}
    </div>

    {% for recipe in recipes %}
      <div class="recipe-card">
        <div class="image-wrapper">
          {% if recipe.image %}
            <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}" />
          {% else %}
            <img src="{% static 'default.png' %}" alt="Default Image" />
          {% endif %}
        </div>
        <h3>{{ recipe.name }}</h3>
        <p>Cooking Time: {{ recipe.cooking_time }} minutes</p>
        <p>Difficulty: {{ recipe.difficulty }}</p>
        <p>Description: {{ recipe.description|truncatewords:20 }}</p>
        <div class="view-recipe-button-container">
          <a href="{% url 'recipe:recipe_detail' recipe.pk %}" class="view-recipe-button">View Recipe</a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}