/* About Container Styles */
.about-container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
    max-width: 800px;
    padding: 20px;
    text-align: center;
}

/* General Styles */
body {
    background: url('/static/site_images/welcome.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    padding: 0;
}

.back-button-container,
.navigation-buttons,
.view-recipe-button-container {
    margin-top: 30px;
    text-align: center;
}

/* Button Styles */
button {
    background: radial-gradient(circle, rgba(40,167,69,1) 0%, rgba(33,136,56,1) 100%);
    border: none;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    padding: 10px;
}

/* Button Hover Effect */
button:hover {
    background: radial-gradient(circle, rgba(33,136,56,1) 0%, rgba(40,167,69,1) 100%);
}

/* Button Specific Styles */
.button,
.arrow-button,
.back-button,
.view-recipe-button {
    background-color: #ff7f50;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    color: white;
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    padding: 15px 30px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.button:hover,
.arrow-button:hover,
.back-button:hover,
.view-recipe-button:hover {
    background-color: #cc5200;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
}
/* Centered Button */
.center-button {
    display: flex;
    justify-content: center;
}

/* Centered Content */
.centered-content {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.content {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    width: 100%;
}

/* Content Wrapper */
.content-wrapper {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

/* Error Message Styles */
.error {
    color: red;
    margin-bottom: 20px;
    text-align: center;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    margin-top: auto;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
}

/* Header Styles */
header {
    align-items: center;
    background-color: #ff7f50;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 20px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header h1 {
    color: white;
    font-size: 2.5em;
    margin: 0;
}

/* Headings Styles */
h1, h3 {
    color: #333;
    margin-top: 20px;
    text-align: center;
}

h3 {
    color: #ff7f50;
    font-size: 1.5em;
    margin-bottom: 15px;
}

/* Image Styles */
.image-wrapper img {
    border: 5px solid #ccc;
    border-radius: 10px;
    display: block;
    height: 300px;
    margin: 0 auto;
    object-fit: cover;
    width: 400px;
}

/* Ingredient Styles */
.ingredient-details {
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
}

.ingredient-item {
    margin-bottom: 20px;
    padding-left: 0;
}

.ingredient-name {
    font-size: 1.2em;
    font-weight: bold;
}

.ingredient-name-container {
    flex-grow: 2;
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 10px;
    text-align: left;
}

.ingredient-quantity::before {
    content: "Quantity: ";
}

.ingredient-quantity-unit-container {
    flex-grow: 1;
    font-size: 1.1em;
    text-align: right;
}

.ingredient-unit::before {
    content: "Unit: ";
}

.ingredient-wrapper {
    background-color: #f9f9f9;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    margin: 0 20px 10px 20px;
    padding: 10px;
}

/* Ingredients Container */
.ingredients-container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 15px;
}

.ingredients-container h3 {
    color: #333;
    font-size: 1.3em;
    margin-bottom: 10px;
    text-align: center;
}

.ingredients-container ul {
    color: #333;
    font-size: 1.1em;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
/* Logout Button */
.logout-button {
    display: inline-block;
    margin-top: 20px;
}

/* Main Section Styles */
main {
    flex: 1;
    padding-bottom: 50px; /* Adjust this value based on the height of your footer */
    padding-top: 80px; /* Adjust this value based on the height of your header */
    width: 100%;
}

.main section .btn {
    background-color: #ff7f50;
    border-radius: 5px;
    color: white;
    font-size: 1.1em;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.main section .btn:hover {
    background-color: #cc5200;
}

.main section p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

/* Media Queries */
@media (max-width: 768px) {
    header nav .hamburger {
        display: flex;
    }

    header nav ul {
        background-color: #ff7f50;
        display: none;
        flex-direction: column;
        left: 0;
        position: absolute;
        text-align: center;
        top: 60px;
        width: 100%;
        z-index: 999;
    }

    header nav ul li {
        margin: 10px 0;
    }

    header nav ul.show {
        display: flex;
    }
}

@media (min-width: 600px) {
    .ingredient-name,
    .ingredient-quantity,
    .ingredient-unit {
        flex-basis: auto;
        text-align: left;
    }
}

/* Navigation Styles */
nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

nav .hamburger {
    cursor: pointer;
    display: none;
    flex-direction: column;
}

nav .hamburger .bar {
    background-color: white;
    height: 3px;
    margin: 4px 0;
    transition: 0.4s;
    width: 25px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    padding: 5px 10px;
    text-decoration: none;
}

nav ul li a:hover,
nav ul li a.login-button {
    background-color: #007bff;
    border-radius: 5px;
}

/* Navigation Buttons */
.navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Page Container */
.page-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

/* Recipe Card Styles */
.recipe-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
}

.recipe-card:hover {
    transform: translateY(-10px);
}

.recipe-card .image-wrapper {
    height: 300px;
    overflow: hidden;
    width: 100%;
}

.recipe-card a {
    color: #ff7f50;
    display: block;
    font-weight: bold;
    margin: 10px 0;
    text-decoration: none;
}

.recipe-card h3 {
    font-size: 1.2em;
    margin: 15px 0;
    padding: 0 10px;
}

.recipe-card img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

/* Recipe Details Styles */
.recipe-details {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-top: 100px;
    max-width: 800px;
    padding: 20px;
    padding-top: 120px;
}

.recipe-details .image-wrapper {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.recipe-details h2,
.recipe-details h3 {
    color: #333;
    margin-bottom: 10px;
}

.recipe-details img {
    border-radius: 8px;
    height: auto;
    width: 100%;
}

.recipe-details p,
.recipe-details ul {
    font-size: 1.1em;
    margin-bottom: 15px;
}

.recipe-details ul {
    list-style-type: disc;
    padding-left: 20px;
}

/* Recipe Meta */
.recipe-meta {
    display: flex;
    font-size: 1.1em;
    font-weight: bold;
    justify-content: space-around;
    margin-bottom: 20px;
    text-align: center;
}

/* Recipes List Styles */
.recipes-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
}

/* Responsive Image */
.responsive-image {
    display: block;
    height: auto;
    margin: 20px auto;
    max-width: 100%;
}

/* Search Container Styles */
.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 80px;
}

.search-form {
    max-width: 600px;
    width: 100%;
}

/* Small Button */
.small-button {
    background-color: #ff7f50;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 0.9em;
    margin: 5px;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    width: 80px;
}

.small-button:hover {
    background-color: #cc5200;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}
/* Table Styles */
table {
    border-collapse: collapse;
    margin: 0 auto;
}

th,
td {
    border: 1px solid black;
    padding: 5px;
}

/* Unordered List Styles */
ul {
    list-style-type: disc;
    padding-left: 20px;
}

ul li {
    color: #333;
    font-size: 1.1em;
    margin-bottom: 10px;
}

/* View Recipe Button Styles */
.view-recipe-button {
    background-color: #ff7f50;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    color: white !important;
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    padding: 15px 30px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.view-recipe-button:hover {
    background-color: #cc5200;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    color: white !important;
    transform: translateY(-5px);
}

.view-recipe-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Welcome Container Styles */
.welcome-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    max-width: 600px;
    padding: 20px;
    text-align: center;
}

.welcome-container header {
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.welcome-container header h1 {
    color: #ff7f50;
    font-size: 2.5em;
    margin-bottom: 20px;
}
